<div>
  <section class="section-menu">
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="#"><mat-icon mat-list-icon>dashboard</mat-icon> Dashboard</a>
      </mat-list-item>
    </mat-nav-list>
  </section>


  <section class="section-menu">
    <div class="section-title">
      <h3>Cadastros</h3>
      <label>Cadastros gerais</label>
    </div>
    <mat-nav-list>
      <mat-list-item>
        <a matLine [routerLink]="['members']"><mat-icon mat-list-icon>people</mat-icon> Membros</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine [routerLink]="['members']">
          <mat-icon mat-list-icon aria-hidden="false" aria-label="Regionais">business</mat-icon>Regionais
        </a>
      </mat-list-item>
    </mat-nav-list>
  </section>
</div>
