<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z8" opened="">
    <app-sidenav-top-menu></app-sidenav-top-menu>
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-top-menu></app-top-menu>
    <button (click)="sidenav.toggle()" mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
