mat-toolbar {
  background: #ffffff;
}

mat-sidenav {
  width: 280px;
  background: #0f172a;
  color: #8c9099;
}

// .content {
//   height: calc(100vh - 98px);
//   border-radius: 10px;
//   margin: 16px;
//   margin-left: 32px;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   font-size: 2rem;
//   color: lightgray;
// }

mat-sidenav-container {
  height: 100%;
  // height: calc(100vh - 65px);
}

