mat-toolbar {
  background: #ffffff;
}

mat-sidenav {
  width: 280px;
  background: #0f172a;
  color: #8c9099;
}

mat-sidenav-container {
  height: 100%;
}

.content {
  border-radius: 10px;
  margin: 16px;
}
